In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import os
os.chdir('F:\\Work\\Jigsaw Academy\\Data Scientist Course\\Data Science Redo\\Folder Structure\\Assignments\\Non Graded Assignments\\Class 8 Data Manipulation')

In [8]:
dat=pd.read_csv('FlightDelays.csv',parse_dates=[5])
dat.head()

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,dayweek,daymonth,tailnu,delay
0,1455,OH,1455,JFK,184,2004-01-01,5935,BWI,0,4,1,N940CA,ontime
1,1640,DH,1640,JFK,213,2004-01-01,6155,DCA,0,4,1,N405FJ,ontime
2,1245,DH,1245,LGA,229,2004-01-01,7208,IAD,0,4,1,N695BR,ontime
3,1715,DH,1709,LGA,229,2004-01-01,7215,IAD,0,4,1,N662BR,ontime
4,1039,DH,1035,LGA,229,2004-01-01,7792,IAD,0,4,1,N698BR,ontime

In [9]:
dat.dtypes

schedtime                int64
carrier                 object
deptime                  int64
dest                    object
distance                 int64
date            datetime64[ns]
flightnumber             int64
origin                  object
weather                  int64
dayweek                  int64
daymonth                 int64
tailnu                  object
delay                   object
dtype: object

Find out the number of delayed flights for all weekdays

In [12]:
dat['Day']=dat.date.dt.weekday

In [49]:
dat.query("Day<=4 & delay=='delayed'").shape[0]

336

 Find the average distance, total distance and count for all delayed flights on Friday

In [50]:
dat.query("Day==4 & delay=='delayed'")[['distance']].mean()

distance    210.28
dtype: float64

In [51]:
dat.query("Day==4 & delay=='delayed'")[['distance']].sum()

distance    15771
dtype: int64

In [52]:
dat.query("Day==4 & delay=='delayed'")[['distance']].count()

distance    75
dtype: int64

Find out how many flights were on time on Week days and Weekends (Consider Saturday and Sunday as weekends)

In [54]:
dat.query("Day<=4 & delay=='ontime'").shape[0]

1362

In [55]:
dat.query("Day>4 & delay=='ontime'").shape[0]

411

Find out the number of flights for each destination across all weekdays

In [66]:
dat.query("Day<=4").groupby('dest',as_index=False).size()

dest
EWR    507
JFK    272
LGA    919
dtype: int64

Find out the number of times weather was bad across all weekdays. (1 indicates bad weather)

In [68]:
dat.query("weather==1 & Day<=4").shape[0]

30